# Virtual environment
.venv/
env/
venv/
*.env

# Python caches / bytecode
__pycache__/
*.py[cod]
*$py.class

# Local NLTK data and models
*nltk_data/
spacy_cache/
en_core_web_sm/

# Project data
results/
data/