B12---The-Dynamic-text-analysis-Platform

# Virtual environment
.venv/
env/
venv/
*.env

# Python caches / bytecode
__pycache__/
*.py[cod]
*$py.class

# Local NLTK data and models
*nltk_data/
spacy_cache/
en_core_web_sm/

# Project data
results/
data/
tests/
dataset/
models/

# Learning files - extra
summarizer.py
topic_modelling.py
topic_modelling2.py
train_topic_model
inferenc.py
inferen.py
aidunno.py
idk.py
fast_main.py
api_get.py
homepage.html
trial.html
fronty/